**/target/*
**/.settings/*
javadocs/*
.classpath
.project
**/.metadata/*
logs/
workspace/


maven-delete-tools.zip
excel-autotest/src/main/java/com/huaihua/www/main/Runner.java
excel-autotest/src/main/resources/consumer.xml
